<!DOCTYPE html>
<html>
  <head>
    <title>Black&White</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <!-- HOME START -->
    <header>
      <div id="home" class="header-box">
        <div class="title-box">
          <a href=""><img src="./i/logo.png" alt=""/></a>
        </div>
        <!--   DESKTOP menu START   -->
        <nav class="menu scroll-header">
          <ul class="menu-desktop">
            <li class="menu-desktop__item">
              <a class="menu-desktop__link" href="#home">home</a>
            </li>
            <li class="menu-desktop__item">
              <a class="menu-desktop__link" href="#services">services</a>
            </li>
            <li class="menu-desktop__item">
              <a class="menu-desktop__link" href="#team">team</a>
            </li>
            <li class="menu-desktop__item">
              <a class="menu-desktop__link" href="#news">news</a>
            </li>
            <li class="menu-desktop__item">
              <a class="menu-desktop__link" href="#pricing">pricing</a>
            </li>
            <li class="menu-desktop__item">
              <a class="menu-desktop__link" href="#contacts">contacts</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!--   DESKTOP menu END   -->

    <!--   Mobile menu START   -->
    <button class="open-menu-button">
      <svg class="open-menu-button__ico" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="i/sprite_btn.svg#menu_btn" />
      </svg>
    </button>
    <div class="dark-overlay"></div>

    <div class="mobile-menu">
      <button class="close-menu-button">
        <svg class="close-menu-button__ico" xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="i/sprite_btn.svg#close_btn" />
        </svg>
      </button>
      <nav class="mobile-navigation">
        <a class="mobile-navigation__link" href="#home">home</a>
        <a class="mobile-navigation__link" href="#services">services</a>
        <a class="mobile-navigation__link" href="#team">team</a>
        <a class="mobile-navigation__link" href="#news">news</a>
        <a class="mobile-navigation__link" href="#pricing">pricing</a>
        <a class="mobile-navigation__link" href="#contacts">contacts</a>
      </nav>
    </div>
    <!-- /   Mobile menu END  -->
    <!-- HOME SLIDER -->
    <div class="home_slider__container">
      <div class="home_slider__overlay">
        <h1 class="overlay_title">BLACK WHITE</h1>
        <p class="overlay_text">We Promote Your Business Much Better</p>
        <button class="btn">Read more</button>
      </div>

      <div id="home-slider" class="home_slider">
        <div class="home_slider__item_tech">
          <div class="home_slider__item">
            <svg class="home_slider__ico" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="i/sprite.svg#support" />
            </svg>
            <div class="home_slider__content">
              <h2 class="home_slider__title">24x7 Premium Support</h2>
              <p class="home_slider__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus vitae semper nulla.
              </p>
            </div>
          </div>
        </div>
        <div class="home_slider__item_tech">
          <div class="home_slider__item">
            <svg class="home_slider__ico" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="i/sprite.svg#shopping-bag" />
            </svg>
            <div class="home_slider__content">
              <h2 class="home_slider__title">70+ Domain Expertise</h2>
              <p class="home_slider__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus vitae semper nulla.
              </p>
            </div>
          </div>
        </div>
        <div class="home_slider__item_tech">
          <div class="home_slider__item">
            <svg class="home_slider__ico" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="i/sprite.svg#shopping-cart" />
            </svg>
            <div class="home_slider__content">
              <h2 class="home_slider__title">100+ Happiest Clients</h2>
              <p class="home_slider__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus vitae semper nulla.
              </p>
            </div>
          </div>
        </div>
        <div class="home_slider__item_tech">
          <div class="home_slider__item">
            <svg class="home_slider__ico" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="i/sprite.svg#headphones" />
            </svg>
            <div class="home_slider__content">
              <h2 class="home_slider__title">Accurate Tracking & Reporting</h2>
              <p class="home_slider__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus vitae semper nulla.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mydots"></div>
    </div>
    <!-- HOME SLIDER -->
    <!-- HOME END -->
    <!-- SERVICES START -->
    <div id="services" class="services-box">
      <h2 class="title">Our Powerful Services</h2>
      <div class="underline"></div>

      <div id="services-box" class="services-box_container">
        <div class="services-box_content_tech">
          <div class="services-box_content">
            <svg
              class="services-box_content__ico"
              xmlns="http://www.w3.org/2000/svg"
            >
              <use xlink:href="i/sprite.svg#lamp" />
            </svg>
            <h3 class="services-box_content__title">Design</h3>
            <article class="services-box_content__article">
              Ut nec lorem id orci convallis porta. Donec pharetra neque eu
              velit dictum molestie. Duis porta gravida augue sed viverra.
              Quisque at nulla leo, non aliquet mi.
            </article>
          </div>
        </div>
        <div class="services-box_content_tech">
          <div class="services-box_content">
            <svg
              class="services-box_content__ico"
              xmlns="http://www.w3.org/2000/svg"
            >
              <use xlink:href="i/sprite.svg#contract" />
            </svg>
            <h2 class="services-box_content__title">Development</h2>
            <article class="services-box_content__article">
              Ut nec lorem id orci convallis porta. Donec pharetra neque eu
              velit dictum molestie. Duis porta gravida augue sed viverra.
              Quisque at nulla leo, non aliquet mi.
            </article>
          </div>
        </div>
        <div class="services-box_content_tech">
          <div class="services-box_content">
            <svg
              class="services-box_content__ico"
              xmlns="http://www.w3.org/2000/svg"
            >
              <use xlink:href="i/sprite.svg#chess_horse" />
            </svg>
            <h2 class="services-box_content__title">Marketing</h2>
            <article class="services-box_content__article">
              Ut nec lorem id orci convallis porta. Donec pharetra neque eu
              velit dictum molestie. Duis porta gravida augue sed viverra.
              Quisque at nulla leo, non aliquet mi.
            </article>
          </div>
        </div>
        <div class="services-box_content_tech">
          <div class="services-box_content">
            <svg
              class="services-box_content__ico"
              xmlns="http://www.w3.org/2000/svg"
            >
              <use xlink:href="i/sprite.svg#globe" />
            </svg>
            <h2 class="services-box_content__title">Branding</h2>
            <article class="services-box_content__article">
              Ut nec lorem id orci convallis porta. Donec pharetra neque eu
              velit dictum molestie. Duis porta gravida augue sed viverra.
              Quisque at nulla leo, non aliquet mi.
            </article>
          </div>
        </div>
        <div class="services-box_content_tech">
          <div class="services-box_content">
            <svg
              class="services-box_content__ico"
              xmlns="http://www.w3.org/2000/svg"
            >
              <use xlink:href="i/sprite.svg#responsive" />
            </svg>
            <h2 class="services-box_content__title">Responsive</h2>
            <article class="services-box_content__article">
              Ut nec lorem id orci convallis porta. Donec pharetra neque eu
              velit dictum molestie. Duis porta gravida augue sed viverra.
              Quisque at nulla leo, non aliquet mi.
            </article>
          </div>
        </div>
        <div class="services-box_content_tech">
          <div class="services-box_content">
            <svg
              class="services-box_content__ico"
              xmlns="http://www.w3.org/2000/svg"
            >
              <use xlink:href="i/sprite.svg#testing" />
            </svg>
            <h2 class="services-box_content__title">Testing</h2>
            <article class="services-box_content__article">
              Ut nec lorem id orci convallis porta. Donec pharetra neque eu
              velit dictum molestie. Duis porta gravida augue sed viverra.
              Quisque at nulla leo, non aliquet mi.
            </article>
          </div>
        </div>
        <div class="services-box_content_tech">
          <div class="services-box_content">
            <svg
              class="services-box_content__ico"
              xmlns="http://www.w3.org/2000/svg"
            >
              <use xlink:href="i/sprite.svg#app" />
            </svg>
            <h2 class="services-box_content__title">App</h2>
            <article class="services-box_content__article">
              Ut nec lorem id orci convallis porta. Donec pharetra neque eu
              velit dictum molestie. Duis porta gravida augue sed viverra.
              Quisque at nulla leo, non aliquet mi.
            </article>
          </div>
        </div>
        <div class="services-box_content_tech">
          <div class="services-box_content">
            <svg
              class="services-box_content__ico"
              xmlns="http://www.w3.org/2000/svg"
            >
              <use xlink:href="i/sprite.svg#support" />
            </svg>
            <h2 class="services-box_content__title">Support</h2>
            <article class="services-box_content__article">
              Ut nec lorem id orci convallis porta. Donec pharetra neque eu
              velit dictum molestie. Duis porta gravida augue sed viverra.
              Quisque at nulla leo, non aliquet mi.
            </article>
          </div>
        </div>
      </div>
      <div class="mybuttons"></div>
    </div>
    <!-- SERVICES END -->
    <!-- TEAM START -->
    <div id="team" class="team-box">
      <h2 class="title">Our Best Team</h2>
      <div class="underline"></div>

      <div id="team-box" class="team-box__container">
        <div class="team-box_content_tech">
          <div class="team-box_content">
            <div class="team-box_img_tech">
              <div class="team-box_img-hover">
                <div class="team-box_img-hover_social">
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://github.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#github" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://instagram.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#instagram" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://twitter.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#twitter" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://facebook.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#facebook" /></svg
                  ></a>
                </div>
                <div class="team-box_img-hover_background"></div>
              </div>
              <img class="team-box_img" src="./i/team_1.jpg" alt="" />
            </div>
            <h3 class="team-box_content__title">Linus Benedict Torvalds</h3>
            <p class="team-box_content__article">Developer</p>
          </div>
        </div>
        <div class="team-box_content_tech">
          <div class="team-box_content">
            <div class="team-box_img_tech">
              <div class="team-box_img-hover">
                <div class="team-box_img-hover_social">
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://github.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#github" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://instagram.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#instagram" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://twitter.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#twitter" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://facebook.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#facebook" /></svg
                  ></a>
                </div>
                <div class="team-box_img-hover_background"></div>
              </div>
              <img class="team-box_img" src="./i/team_2.jpg" alt="" />
            </div>

            <h3 class="team-box_content__title">William Henry Gates III</h3>
            <p class="team-box_content__article">Designer</p>
          </div>
        </div>
        <div class="team-box_content_tech">
          <div class="team-box_content">
            <div class="team-box_img_tech">
              <div class="team-box_img-hover">
                <div class="team-box_img-hover_social">
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://github.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#github" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://instagram.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#instagram" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://twitter.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#twitter" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://facebook.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#facebook" /></svg
                  ></a>
                </div>
                <div class="team-box_img-hover_background"></div>
              </div>
              <img class="team-box_img" src="./i/team_3.jpg" alt="" />
            </div>

            <h3 class="team-box_content__title">Stephen Gary Wozniak</h3>
            <p class="team-box_content__article">Developer</p>
          </div>
        </div>
        <div class="team-box_content_tech">
          <div class="team-box_content">
            <div class="team-box_img_tech">
              <div class="team-box_img-hover">
                <div class="team-box_img-hover_social">
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://github.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#github" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://instagram.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#instagram" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://twitter.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#twitter" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://facebook.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#facebook" /></svg
                  ></a>
                </div>
                <div class="team-box_img-hover_background"></div>
              </div>
              <img class="team-box_img" src="./i/team_4.jpg" alt="" />
            </div>

            <h3 class="team-box_content__title">Mark Elliot Zuckerberg</h3>
            <p class="team-box_content__article">Content Manager</p>
          </div>
        </div>
        <div class="team-box_content_tech">
          <div class="team-box_content">
            <div class="team-box_img_tech">
              <div class="team-box_img-hover">
                <div class="team-box_img-hover_social">
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://github.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#github" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://instagram.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#instagram" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://twitter.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#twitter" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://facebook.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#facebook" /></svg
                  ></a>
                </div>
                <div class="team-box_img-hover_background"></div>
              </div>
              <img class="team-box_img" src="./i/team_5.jpg" alt="" />
            </div>

            <h3 class="team-box_content__title">Sergey Mikhaylovich Brin</h3>
            <p class="team-box_content__article">Developer</p>
          </div>
        </div>
        <div class="team-box_content_tech">
          <div class="team-box_content">
            <div class="team-box_img_tech">
              <div class="team-box_img-hover">
                <div class="team-box_img-hover_social">
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://github.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#github" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://instagram.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#instagram" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://twitter.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#twitter" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://facebook.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#facebook" /></svg
                  ></a>
                </div>
                <div class="team-box_img-hover_background"></div>
              </div>
              <img class="team-box_img" src="./i/team_6.jpg" alt="" />
            </div>

            <h3 class="team-box_content__title">Elon Reeve Musk</h3>
            <p class="team-box_content__article">Blogger</p>
          </div>
        </div>
        <div class="team-box_content_tech">
          <div class="team-box_content">
            <div class="team-box_img_tech">
              <div class="team-box_img-hover">
                <div class="team-box_img-hover_social">
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://github.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#github" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://instagram.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#instagram" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://twitter.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#twitter" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://facebook.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#facebook" /></svg
                  ></a>
                </div>
                <div class="team-box_img-hover_background"></div>
              </div>
              <img class="team-box_img" src="./i/team_7.jpg" alt="" />
            </div>

            <h3 class="team-box_content__title">Lawrence Edward Page</h3>
            <p class="team-box_content__article">Developer</p>
          </div>
        </div>
        <div class="team-box_content_tech">
          <div class="team-box_content">
            <div class="team-box_img_tech">
              <div class="team-box_img-hover">
                <div class="team-box_img-hover_social">
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://github.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#github" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://instagram.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#instagram" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://twitter.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#twitter" /></svg
                  ></a>
                  <a
                    class="team-box_img-hover_social__ico"
                    href="https://facebook.com/"
                    target="_blank"
                    ><svg xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="i/sprite_social.svg#facebook" /></svg
                  ></a>
                </div>
                <div class="team-box_img-hover_background"></div>
              </div>
              <img class="team-box_img" src="./i/team_8.jpg" alt="" />
            </div>

            <h3 class="team-box_content__title">Marissa Ann Mayer</h3>
            <p class="team-box_content__article">Designer</p>
          </div>
        </div>
      </div>
    </div>
    <!-- TEAM END -->
    <!-- NEWS START -->
    <div id="news" class="news-box">
      <h2 class="title">Our news</h2>
      <div class="underline"></div>
      <div class="news-box__container grid1">
        <img class="news-box_img grid11" src="./i/news1.jpg" alt="" />
        <div class="news-box__content grid12">
          <div class="news-box__content_date"><p>31/DEC/2019</p></div>
          <h2 class="news-box__content_title">Word Startup Meeting</h2>
          <article class="news-box__content_article">
            Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit
            dictum molestie. Duis porta gravida augue sed viverra. Quisque at
            nulla leo, non aliquet mi.
          </article>
          <a class="news-box__content_link" href="">Read More</a>
        </div>
      </div>
      <div class="news-box__container grid2">
        <img class="news-box_img grid21" src="./i/news2.jpg" alt="" />
        <div class="news-box__content grid22">
          <div class="news-box__content_date"><p>01/JAN/2020</p></div>
          <h2 class="news-box__content_title">Word Startup Meeting</h2>
          <article class="news-box__content_article">
            Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit
            dictum molestie. Duis porta gravida augue sed viverra. Quisque at
            nulla leo, non aliquet mi.
          </article>
          <a class="news-box__content_link" href="">Read More</a>
        </div>
      </div>
    </div>
    <!-- NEWS START -->
    <!-- PRICING START -->
    <div id="pricing" class="pricing-box">
      <h2 class="title">Our Pricing</h2>
      <div class="underline"></div>
      <div class="pricing-box__container grid_1">
        <h3 class="pricing-box__container_title">
          <p>Basic</p>
          <p>$30 / month</p>
        </h3>
        <div class="pricing-box__content">
          <div class="pricing-box__container_content">
            <span>400GB</span>Bandwidth
          </div>
          <div class="pricing-box__container_content">
            <span>100</span>Email Address
          </div>
          <div class="pricing-box__container_content">
            <span>500</span>Clients
          </div>
          <div class="pricing-box__container_content">
            <span>Forum</span>Support
          </div>
          <div class="pricing-box__container_content">
            <span>No Free</span> Squirel
          </div>
          <div class="pricing-box__container_content">
            <button class="btn">Buy Now</button>
          </div>
        </div>
      </div>
      <div class="pricing-box__container grid_2">
        <h3 class="pricing-box__container_title">
          <p>Premium</p>
          <p>$90 / month</p>
        </h3>
        <div class="pricing-box__content">
          <div class="pricing-box__container_content">
            <span>400GB</span>Bandwidth
          </div>
          <div class="pricing-box__container_content">
            <span>100</span>Email Address
          </div>
          <div class="pricing-box__container_content">
            <span>500</span>Clients
          </div>
          <div class="pricing-box__container_content">
            <span>Forum</span>Support
          </div>
          <div class="pricing-box__container_content">
            <span>No Free</span> Squirel
          </div>
          <div class="pricing-box__container_content">
            <button class="btn">Buy Now</button>
          </div>
        </div>
      </div>
      <div class="pricing-box__container grid_3">
        <h3 class="pricing-box__container_title">
          <p>Advanced</p>
          <p>$60 / month</p>
        </h3>
        <div class="pricing-box__content">
          <div class="pricing-box__container_content">
            <span>400GB</span>Bandwidth
          </div>
          <div class="pricing-box__container_content">
            <span>100</span>Email Address
          </div>
          <div class="pricing-box__container_content">
            <span>500</span>Clients
          </div>
          <div class="pricing-box__container_content">
            <span>Forum</span>Support
          </div>
          <div class="pricing-box__container_content">
            <span>No Free</span> Squirel
          </div>
          <div class="pricing-box__container_content">
            <button class="btn">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
    <!-- PRICING END -->
    <!-- CONTACT START -->
    <div id="contacts" class="contacts-box">
      <h2 class="title">Contact Us</h2>
      <div class="underline"></div>
      <div class="map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d816.8324330644431!2d30.72300320538572!3d46.47869106528953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c63137bf32d669%3A0x48acb379ad25e419!2sBeetroot%20Academy%20Odesa!5e0!3m2!1sru!2sua!4v1578327694342!5m2!1sru!2sua"
          width="600"
          height="450"
          frameborder="0"
          style="border:0;"
          allowfullscreen=""
        ></iframe>
      </div>
      <div class="adress-container">
        <a class="adress-box">
          <svg class="adress-box__ico" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="i/sprite.svg#envelope" />
          </svg>
          <span class="adress-box__text">beetroot@gmail.com</span>
        </a>
        <div class="adress-box">
          <svg class="adress-box__ico" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="i/sprite.svg#location" />
          </svg>
          <a
            class="adress-box__text"
            target="_blank"
            href="https://g.page/BeetrootAcademyOdesa?share"
            >Astashkina St, 29, Odesa, 65000</a
          >
        </div>
        <div class="adress-box">
          <svg class="adress-box__ico" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="i/sprite.svg#link" />
          </svg>
          <a
            class="adress-box__text"
            href="https://beetroot.academy/uk/locations/odesa/"
            target="_blank"
            >beetroot.academy</a
          >
        </div>
        <div class="adress-box">
          <svg class="adress-box__ico" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="i/sprite.svg#phone" />
          </svg>
          <span class="adress-box__text">+38(097)000-11-22</span>
        </div>
      </div>
      <div class="adress-box_social">
        <a class="adress-box__ico" href="https://github.com/" target="_blank"
          ><svg xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="i/sprite_social.svg#github" /></svg
        ></a>
        <a
          class="adress-box__ico"
          href="https://plus.google.com"
          target="_blank"
          ><svg xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="i/sprite_social.svg#google-plus" /></svg
        ></a>
        <a class="adress-box__ico" href="https://instagram.com/" target="_blank"
          ><svg xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="i/sprite_social.svg#instagram" /></svg
        ></a>
        <a class="adress-box__ico" href="https://twitter.com/" target="_blank"
          ><svg xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="i/sprite_social.svg#twitter" /></svg
        ></a>
        <a class="adress-box__ico" href="https://facebook.com/" target="_blank"
          ><svg xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="i/sprite_social.svg#facebook" /></svg
        ></a>
      </div>
      <div class="form-container">
        <form
          class="form-box"
          id="app"
          @submit.prevent="checkForm"
          name="loginform"
          action="/something"
          method="post"
          novalidate="true"
        >
          <div v-if="logged" class="thankyou-box">
            Thank You <br />Check your email
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control "
              id="name"
              v-model="name"
              placeholder="Please Enter Name"
              :disabled="logged"
            />
            <p
              class="invalid-feedback"
              v-if="errors2.length"
              v-for="error in errors2"
            >
              {{error}}
            </p>
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="email"
              name="email"
              id="email"
              v-model="email"
              placeholder="Please Enter Email"
              :disabled="logged"
            />
            <p
              class="invalid-feedback"
              v-if="errors.length"
              v-for="error in errors"
            >
              {{ error }}
            </p>
          </div>
          <div class="form-group">
            <!-- <input class="btn" type="submit" value="Subscribe"> -->
            <button v-if="!logged" class=" btn">Subscribe</button>
            <button v-if="logged" class=" btn-disabled" disabled>
              Subscribe
            </button>
          </div>
        </form>
      </div>
      <div class="about_us-box">
        <a href=""><img class="about_us-box_img" src="./i/logo.png" alt=""/></a>
        <p class="about_us-box_title">About Us</p>
        <article class="about_us-box_article">
          Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit
          dictum molestie.
        </article>
      </div>
    </div>
    <!-- CONTACT END -->
    <!-- FOOTER START -->

    <footer class="footer-box">
      <p class="footer-box__text">
        2020 © All Rights Reserved
      </p>
    </footer>

    <!-- FOOTER END -->

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="js/script.js"></script>
  </body>
</html>
